<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Login Page</h3>
    @ViewBag.error
    <form method="post" asp-controller="account" asp-action="login">
        <div>
            <div>
                <label>Username</label>
                <div><input type="text" name="username"></div>
            </div>
            <div>
                <label>Password</label>
                <div><input type="password" name="password"></div>
            </div>
            <div>
                <label>&nbsp;</label>
                <div><input type="submit" value="Login"></div>
            </div>
        </div>
    </form>

</body>
</html>