@using Microsoft.AspNetCore.Http;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice Form</title>
    <link href="~/Custom/success.css" rel="stylesheet" />
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/js/bootstrap.js"></script>
</head>
<body>

    <div class="entry-page">
        <form class="form" method="post" asp-controller="Invoice" asp-action="Save">

            <div>
                <h3>
                    Billing details
                    <span style=" display: inline; float: right; text-decoration: none; font-size: initial; font-weight: 100;">
                        Welcome @Context.Session.GetString("username")
                        <a asp-controller="account" asp-action="logout">Logout</a>
                    </span>
                </h3>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">G R No</label>
                        <div class="col-12">
                            <input type="text" name="GRNo" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">Date</label>
                        <div class="col-12">
                            <input type="text" name="Date" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">Vehical No.</label>
                        <div class="col-12">
                            <input type="text" name="vehicalNo" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">From</label>
                        <div class="col-12">
                            <input type="text" name="LocationFrom" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">To</label>
                        <div class="col-12">
                            <input type="text" name="LocationTo" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">Value Of Goods</label>
                        <div class="col-12">
                            <input type="text" name="GoodsValue" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">Invoice No</label>
                        <div class="col-12">
                            <input type="text" name="InvoiceNo" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">GST Type</label>
                        <div class="col-12">
                            <select class="form-control form-control-sm" name="GSTType">
                                <option>Select</option>
                                <option value="IGST + SGST">IGST + SGST</option>
                                <option value="CGST">CGST</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h3>Consigner's Details</h3>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">Name</label>
                        <div class="col-12">
                            <input type="text" name="ConsignerName" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">GST No</label>
                        <div class="col-12">
                            <input type="text" name="ConsignerGSTNo" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">Mobile</label>
                        <div class="col-12">
                            <input type="text" name="ConsignerMobile" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">Email</label>
                        <div class="col-12">
                            <input type="text" name="ConsignerEmail" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">State</label>
                        <div class="col-12">
                            <input type="text" name="ConsignerState" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">City</label>
                        <div class="col-12">
                            <input type="text" name="ConsignerCity" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <label class="col-12">Address</label>
                        <div class="col-12">
                            <textarea type="text" name="ConsignerAddress" class="form-control form-control-sm"></textarea>
                        </div>
                    </div>
                </div>



            </div>

            <div>
                <h3>Consignee's Details</h3>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">Name</label>
                        <div class="col-12">
                            <input type="text" name="ConsigneeName" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">GST No</label>
                        <div class="col-12">
                            <input type="text" name="ConsigneeGSTNo" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">Mobile</label>
                        <div class="col-12">
                            <input type="text" name="ConsigneeMobile" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">Email</label>
                        <div class="col-12">
                            <input type="text" name="ConsigneeEmail" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">State</label>
                        <div class="col-12">
                            <input type="text" name="ConsigneeState" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <label class="col-12">City</label>
                        <div class="col-12">
                            <input type="text" name="ConsigneeCity" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <label class="col-12">Address</label>
                        <div class="col-12">
                            <textarea type="text" name="ConsigneeAddress" class="form-control form-control-sm"></textarea>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <button type="submit" class="btn btn-outline-primary">Save</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
            </div>
        </form>
    </div>

</body>
</html>